# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Distribution / Build
build/
dist/
*.spec

# Local configurations (Personal data)
config.json
presets.json
queue_state.json
freeu_presets.json

# Logs
*.log

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Scratch / Temp
Plaintext.md
test_dlg.py